.App {
  text-align: center;
}

.App-logo {
  /*
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
  */
  height: 40vmin;
}

.App-header h1 {
  font-size: calc(10px + 1vmin);
}

.App-header h2 {
  margin-left: 20px;
  margin-top: 6px;
  font-size: calc(3px + 1vmin);
}

.App-header a {
  margin-left: 6px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
